*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
h1,
h2,
h3,
h4,
h4,
h6,
label {
  font-weight: 700;
}
p,
a,
button {
  font-weight: 400;
  color: black;
  /* text-decoration: none; */
}
.container{
    width: 100%;
    /* height: 1000vh; */
    font-family: 'Roboto', sans-serif;
}
/* -------------------navbar---------------- */
nav{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
}
.black{
    width: 100%;
    height: 2.3vh;
    background-color: black;
}
.grey{
    width: 100%;
    height: 1vh;
    background-color: rgb(232,233,234);
}
.navbar{
    /* border:2px solid blue; */
    width: 100%;
    /* height: 10vh; */
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    position: sticky;
    top: 2rem;
}
.nav-item i{
    display: none;
}
.nav-item{
    width: 70%;
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
}
.navbar > .nav-item > img{
    width: 20%;
    cursor: pointer;
    transition: 0.3s;
}
.navbar > .nav-item > img:hover{
    opacity: 0.6;
}
.navbar > .nav-item > ul{
    /* border:2px solid black; */
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    list-style: none;
    font-weight: 500;
}   
.navbar > .nav-item > ul > li:hover{
    color: red;
}
.nav-icon > i{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.nav-icon > i:hover{
    color: red;
}
/*---------------------hero----------------------------*/
.hero .row-1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
  }
  /* ------------------col----------------- */
  .hero .row-1 .col {
    width: 50%;
    max-width: 1472px;
    overflow: hidden;
    position: relative;
    /* border:2px solid black; */
  }
  .hero .row-1 .col .image {
    width: 100%;
    height: 100%;
    position: relative;
    /* border:2px solid red; */
  }
  .hero .row-1 .col .image .caption {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    /* border:2px solid green; */
  }
  .hero .row-1 .col .image .caption p {
    font-size: 18.75px;
    line-height: 23.437px;
    text-align: center;
    /* border:2px solid yellow; */
  }
  .hero .row-1 .col .image .caption img {
    width: 250px;
    height: auto;
    margin-bottom: 1rem;
    transition: all 0.3s linear;
    /* border:2px solid blue; */
  }
  .background {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: all 0.3s linear;
  }
  .hero .row-1 .col .image:hover img {
    transform: scale(1.1);
  }
  .hero .row-1 .col .image .caption .caption-logo2 {
    width: 100%;
  }
  .hero .row-1 .col .image .caption .caption-logo4 {
    width: 40%;
  }
  .hero .row-2 {
    width: 100%;
    height: auto;
    background-color: black;
    padding: 0.9rem 2rem;
    display: flex;
    justify-content: center;
    gap: 8rem;
    flex-wrap: wrap;
    align-items: center;
    /* border:2px solid purple; */
  }

/* ------------------middle-hero---------------- */

.mid-content{
    width: 100%;
    /* border: 2px solid red; */
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid-content h1{
    text-align: center;
    font-size: 32px;
}
.mid-content .p1 span, .mid-content .p3{
    font-size: 15px;
    font-weight: 600;
    /* border:2px solid purple;  */
}
.mid-content .p1, .mid-content .p2{
    width: 20%;
    text-align: center;
    margin: 1% 0;
    font-size: 15px;
    /* border:2px solid blue;  */
}
.mid-content .p2 span, .mid-content .p2 a{
    font-size: 15px;
    color: red;
}
.mid-content .p2{
    width: 46%;
}

.big-card1{
    /* border: 2px solid red;  */
    display: flex;
    justify-content: space-around;
    padding: 3% 6%;
    
}
.big-card1 h1{
    font-size: 32px;
}
.big-card1 .image{
    overflow: hidden;
    width: 45%;
    /* border: 2px solid blue;   */
}
.big-card1 .image img:hover{
    transform: scale(1.2);
}
.big-card1 .image img{
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.big-card1 .content{
    width: 45%;
    /* border: 2px solid blue;   */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}
.big-card1 .content p{
    font-size: 15px;
    line-height: 23px;
}
.big-card1 .content button{
    border-radius: 40px;
    padding: 1.5% 0;
    width: 25%;
    color: white;
    background-color: rgb(255,74,50);
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.big-card1 .content button:hover{
    background-color: rgb(96, 96, 96);
}
.big-card1 .card-image{
    width: 100%;
    /* border: 2px solid blue;   */
}
/* ---------------------Scooter--------------------  */

.scooter{
    width: 100%;
    height: 100vh;
    background-image: url("./Assets/boosted-rev-display_1600x.webp");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
}
.scooter .container{
    width: 30%;
    height: max-content;
    margin-top: 3rem;
}
.scooter .container h3{
    font-size: 15px;
    line-height: 18.75px;
    margin-bottom: 0.8rem;
}
.scooter .container h1{
    font-size: 45px;
    line-height: 50.625px;
    margin-bottom: 1rem;
}
.scooter .container button{
    width: 12.5rem;
    padding: 0.3rem;
    border-radius: 30px;
    font-size: 15px;
    line-height: 22.5px;
    color: white;
    border: none;
    background-color: rgb(255, 74, 50);
    cursor: pointer;
}
.scooter .container button:hover{
    background-color: rgb(96, 96, 96);
}

/*---------------video-------------------*/
.video{
    width: 100%;
    height: 100vh;
    padding: 1.5rem 6rem;
    /* border: 2px solid blue;  */
}
.video iframe{
    width: 100%;
    height: 100%;
    /* border: 2px solid red;  */
}
/* ---------------skateboard----------------*/
.skateboard{
    width: 100%;
    height: 85vh;
    background-image: url("./Assets/evolve-skateboards-1_4500x.webp");
    color: white;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skateboard .container{
    width: 30%;
    height: max-content;
    margin-top: 3rem;
}
.skateboard .container h3{
    font-size: 15px;
    line-height: 18.75px;
    margin-bottom: 0.8rem;
}
.skateboard .container h1{
    font-size: 45px;
    line-height: 50.625px;
    margin-bottom: 1rem;
}
.skateboard .container button{
    width: 12.5rem;
    padding: 0.3rem;
    border-radius: 30px;
    font-size: 15px;
    line-height: 22.5px;
    color: white;
    border: none;
    background-color: rgb(255, 74, 50);
    cursor: pointer;
}
.skateboard .container button:hover{
    background-color: rgb(96, 96, 96);
}

/* ------------------Accessories---------------- */


.boosted h1{
    text-align: center;
    font-size: 32px;
    margin: 3% 0;
}
.boosted h1:hover{
    color: rgb(255,74,50);
    cursor: pointer;
    transition: 0.4s ease-in-out;

}
.misc{
    /* border: 2px solid yellow; */
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    margin: 3% 0;
}
.boosted .misc .acc{
    /* border: 2px solid green; */
    min-width: 10%;
}
.boosted .acc img{
    width: 100%;
}
.boosted .misc .acc .p1{
    font-size: 15px;
    text-align: center;
    color: rgb(255,74,50);
}
.boosted .misc .acc .p2{
    font-size: 15px;
    text-align: center; 
}

/* ---------------------Form------------------- */

.form{
    width: 100%;
    background-color: rgb(229,229,229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}
.form .container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    /* border: 2px solid black; */
}
.form .container h1{
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 1.225rem;
    /* border: 2px solid red; */
}
.form .container .title{
    font-size: 15px;
    line-height: 22.5px;
    margin-bottom: 2.5rem;
    /* border: 2px solid blue; */
}
.form .container label{
    margin-bottom: 0.7rem;
}
.form .container label::before{
    content: "* ";
    color: rgb(255, 74, 50);
}
.form .container input{
    font-size: 15px;
    line-height: 21px;
    width: 100%;
    height: 46px;
    padding: 10px 15px;
    border: 1px solid #b0b6bb;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    outline: none;
    margin-bottom: 1.2rem;
}
.form .container .paras{
    font-size: 11px;
    text-align: center;
    /* border: 2px solid orange; */
}
.underline{
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 1.125rem;
    font-size: 10px;
    /* border: 2px solid orange; */
    text-align: center;
}
.form .container button{
    width: 100%;
    height: 45px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 22.5px;
    color: white;
    border: none;
    background-color: rgb(255, 74, 50);
    cursor: pointer;
    margin-bottom: .5rem;
    /* border: 2px solid purple; */
}
.form .container button:hover{
    opacity: 0.7;
}
.form .container .logo{
    background-color: rgb(160,160,160);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 4px;
    width: 7rem;
    height: 1.5rem;
    border-radius: 20px;
    cursor: pointer;
}
.form .container .logo img{
    width: 100%;
    height: auto;
}

/* ----------------black-sec------------------------ */

.black-sec{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2% 1%;
}
.black-sec .card{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* border: 2px solid lightblue; */
}
.black-sec .card img{
    width: 30%;
}
.black-sec .card h1, .black-sec .card p{
    color: white;
}
.black-sec .card p{
    text-align: center;
}
/* ----------------------footer-------------------- */


footer{
    width: 100%;
    padding: 3% 0;
    /* border: 2px solid green; */
    background-color: rgb(247,247,247);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h1{
    font-size: 32px;
}
footer img{
    width: 15%;
    height: 30%;
    /* border: 2px solid lightcoral; */
}

footer .explore ul, footer .aboutUSA ul{
    list-style-type: none;
    font-size: 15px;
    line-height: 23px;
    margin-top: 10%;
    cursor: pointer;
    /* border: 2px solid lightcoral; */
}

footer .explore ul li:hover{
    color:  rgb(255,74,50);
}

footer .aboutUSA {
    width: 32%;
}

footer .aboutUSA p{
    margin-top: 4%;
    font-size: 15px;
}

footer .aboutUSA ul{
    margin-top: 5%;
    cursor: text;
}

.last{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    margin:2% 0;
    flex-wrap: wrap;
}
.last p{
    font-size: 13px;
}
.last p span{
    color:  rgb(255,74,50);
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    

    /* --------navbar-------- */
    .navbar > .nav-item > ul, .nav-icon > i{
        display: none;
    }
    .nav-item{
        width: 100%;
        align-items: center;
    }
    .navbar{
        padding: 2% 3%;
    }
    .navbar > .nav-item > img{
       height: 2.5rem;
       width: 11rem;
    }
    .nav-item i{
        display: initial;
    }

    /* --------------hero---------- */
    .hero .row-1 .col{
        width: 100%;
    }
    .hero .row-2 {
        gap: 1.5rem;
        padding-bottom: 2rem;
    }
    .hero .row-2 {
        margin-bottom: 15%  
    }

    /* ------------middle-hero--------- */
    .mid-content h1{
        width: 90%;
    }
    .mid-content .p2{
        width: 97%;
        margin-top: 1.5rem;
    }
    .mid-content .p1{
        margin-top: 5%;
        width: 90%; 
    }
    .mid-content .p3{
        margin-top: 20px;
        text-align: center;
    }
    .big-card1{
        display: flex;
        flex-direction: column;
    }
    .big-card1 .image{
        width: 100%;
    }
    .big-card1 .content{
        width: 90%;
    }
    .big-card1 .content button{
        width: 45%;
        margin-bottom: 2rem;
    }

    /* -------------Accessories-------- */

    .boosted .misc .acc{
        min-width: 40%;
    }
    .boosted h1{
        margin-top: 15%;
    }

    /* -----------form-------- */
    .form .container h1{
        text-align: center;
    }
    .form .container .title{
        text-align: center;
        width: 15rem;
    }
    .form .container{
        width: 70%;
    }
    .form{
        margin-top: 10%;
    }

    /* ----------black-sec----------- */

    .black-sec{
        flex-direction: column;
        padding: 0 10%;
        padding-bottom: 2rem;

    }
    .black-sec .card{
        width: 100%;
    }
    .black-sec .card img{
        width: 25%;
    }

    /* --------------footer---------- */
    footer{
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        padding: 3rem 1rem;
        margin-bottom: 2rem;
    }
    footer .aboutUSA {
        width: 100%;
    }
    footer img{
        width: 30%;
        height: 50%;
    }
    .last{
        flex-direction: column;
        gap: 1.5rem;
    }
    .last p{
        text-align: center;
    }
}
@media screen and (max-width: 798px){
    .scooter{
        height: 20rem;
      }
      .video{
        height: 25rem;
        padding: 1.5rem 3rem;
      }
      .skateboard{
        height: 20rem;
      }
    
}
@media screen and (max-width: 480px){
    .scooter .not-hidden,
  .skateboard .not-hidden{
    display: none;
  }
  .scooter{
    height: 10rem;
  }
  .video{
    height: 15rem;
    padding: 1.5rem 2.5rem;
  }
  .skateboard{
    height: 10rem;
  }
}